<ion-header>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <ion-toolbar class="colormarca">
    <ion-title class="ion-padding">RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img src="assets/images/recuperacion.svg"></ion-img>
<ion-item>
  <ion-label position="stacked">Nombre de usuario</ion-label>
  <ion-input [(ngModel)] = "mdluser"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Ingresa tu contraseña</ion-label>
  <ion-input [(ngModel)]="mdlpass" type="password"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Ingresa tu nueva contraseña</ion-label>
  <ion-input [(ngModel)]="mdlnewpass" type="password"></ion-input>
</ion-item>
<ion-button shape="round" class="colormarca" expand="block" (click)="recuperarContrasena()"> Cambiar contraseña</ion-button>
</ion-content>